body {
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    background-color: #3be6c4;
}

.fizz {
    color: red;
    font-size: 2em;
}

.buzz {
    color: blue;
    font-size: 2em;
}

.fizzbuzz {
    color: green;
}

.jumbotron {
    text-align: center;
    background-color: #777777;
}

#display {
    text-align: center;
}

.end {
    color: yellow;
    font-size: 3em;
}